{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended"
  ],
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "parser": "vue-eslint-parser",
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2021
  },
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-undef": "off",
    "no-debugger": "off",
    "@typescript-eslint/no-unused-vars" : [
      "error",
      {
        "varsIgnorePattern": "props",
        "argsIgnorePattern": "^(_|e)"
      }
    ],
    "no-unused-vars":"off",
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "quotes": [
      "error",
      "double",
      { "avoidEscape": true}
    ],
    "vue/multi-word-component-names": "off",
    "vue/require-default-prop": "off",
    "vue/html-indent": [
      "error",
      2
    ],
    "vue/singleline-html-element-content-newline": "off",
    "vue/component-name-in-template-casing": [
      "error",
      "kebab-case"
    ],
    "vue/max-attributes-per-line": "error",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always",
          "normal": "never",
          "component": "always"
        }
      }
    ],
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // side effects
          ["^\\u0000"],
          // node.js libraries and scoped libraries
          ["^(child_process|crypto|events|fs|http|https|os|path)(/.*)?$", "^@?\\w"],
          // alias imports
          ["^@tf-app"],
          // relative imports
          ["^\\."]
        ]
      }
    ],
    "simple-import-sort/exports": "error"
  }
}
