@import url("https://unpkg.com/open-props/easings.min.css");

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-silver: #BDBDBD;
  --c-white-smoke: #F2F2F2;
  --c-weathered-stone: #C4C4C4;
  --c-sunshine: #FFF200;
  --c-sunset-orange: #FA5252;
  --c-fruit-salad: #40C057;
  --c-candy-apple: #FF0800;
  --c-light-slate-grey: #868e96;
  --c-eerie-black: #1a1a1a;
  --c-snow: #f9f9f9;
  --c-shark: #242424;
  --c-squid-ink: #213547;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --box-shadow-sm: 0 0 4px 0 rgb(0 0 0 / 25%);
  --box-shadow-md: 0 0 4px 2px rgb(0 0 0 / 20%);
  --box-shadow-lg: 3px 4px 10px -2px rgb(34 60 80 / 30%);
  --font-color: var(--c-squid-ink);
  --c-main-bg: var(--c-white);
  --c-primary-bg: var(--c-snow);
  --c-secondary-bg: var(--c-sunshine);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  min-height: 100vh;
  width: 100%;
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  background-color: var(--c-main-bg);
  color: var(--font-color);
}

body {
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  overflow: hidden;
}

html:is(.light) {
  --box-shadow-sm: 0 0 4px 0 rgb(0 0 0 / 25%);
  --box-shadow-md: 0 0 4px 2px rgb(0 0 0 / 20%);
  --box-shadow-lg: 3px 4px 10px -2px rgb(34 60 80 / 30%);
  --font-color: var(--c-squid-ink);
  --c-main-bg: var(--c-white);
  --c-primary-bg: var(--c-snow);
  --c-secondary-bg: var(--c-sunshine);

}

html:is(.dark) {
  --font-color: var(--c-white);
  --c-main-bg: var(--c-shark);
  --c-primary-bg: var(--c-eerie-black);
  --box-shadow-sm: 0 0 4px 0 rgb(255 255 255 / 25%);
  --box-shadow-md: 0 0 4px 2px rgb(255 255 255 / 20%);
  --box-shadow-lg: 3px 4px 10px -2px rgb(255 255 255 / 30%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: var(--c-white);
    --c-main-bg: var(--c-shark);
    --c-primary-bg: var(--c-eerie-black);
    --box-shadow-sm: 0 0 4px 0 rgb(255 255 255 / 25%);
    --box-shadow-md: 0 0 4px 2px rgb(255 255 255 / 20%);
    --box-shadow-lg: 3px 4px 10px -2px rgb(255 255 255 / 30%);
  }
}
